@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --base-black: rgba(0, 0, 0, 1);
  --base-blue1: rgba(3, 79, 99, 1);
  --base-blue2: rgba(16, 166, 205, 1);
  --base-green1: rgba(125, 228, 137, 1);
  --base-green2: rgba(161, 254, 206, 1);
  --base-green3: rgba(43, 161, 143, 1);
  --base-white: rgba(255, 255, 255, 1);
  --base-white-60: rgba(255, 255, 255, 0.6);
  --sh-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --sh-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --sh-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --sh-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --sh-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --sh-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --sh-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --sizes-x0: 0px;
  --sizes-x1: 16px;
  --sizes-x2: 24px;
  --sizes-x3: 32px;
  --sizes-x4: 40px;
  --sizes-x5: 48px;
  --sizes-xo5: 8px;
}
